<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>866127316082-b3m7dtdjaskv3bvh0rivnn1sk3atfhaj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866127316082-b3m7dtdjaskv3bvh0rivnn1sk3atfhaj</string>
	<key>API_KEY</key>
	<string>AIzaSyAJaa_AJZ3UAVQ1KPDgZFXwHQWH1u-raN0</string>
	<key>GCM_SENDER_ID</key>
	<string>866127316082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mtmsTask</string>
	<key>PROJECT_ID</key>
	<string>mtms-f2ea6</string>
	<key>STORAGE_BUCKET</key>
	<string>mtms-f2ea6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866127316082:ios:c5aa60c9e78fccd4342eeb</string>
</dict>
</plist>